.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 2500ms 100ms forwards;
    
  }

.item-delete{
  opacity: 0;
  animation: fadeOut 2500ms 100ms forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to{
    opacity: 0;
    transform: translateY(-10);
  }
}
