#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.action-item{
  display: flex;
  gap: .8rem;
}

.complete-items{
  text-decoration:line-through;
  color:  var(--color-black) ;
}

input{
  color: var(--color-black);
  background-color: var(--color-white);
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 1rem 0;
  display: flex;
}

@media screen and (max-width: 767px) {
  #root{
    margin: 0;
    padding: 0;
    
  }
}