:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --color-black: #182a4c;
  --color-black-hover:#0a1934;
  --color-primary: white;
  --color-secondary:#182a4c;
  --color-white: #18b18d;
  --color-black-300: #aaa7a7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-primary);
  color: var(--color-black);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
}

h1 {
  color: var(--color-black);
  font-size: 2.2em;
  line-height: 1.1;
}

@media screen and (max-width: 767px) {
  body{
    background-color: var(--color-white);
  }
}